---
import { favorites } from "../../utils/projects";
import Project from "./Project";
import * as Header from './Header.md'
---

<div class="py-8">
    <div class="text-2xl font-bold pb-4">
        <Header.Content />
    </div>

    <div class="flex flex-col xl:flex-row gap-3 justify-center items-stretch">
        {favorites.map(project => <Project {...project} />)}
    </div>
</div>