---
import { favorites } from "../../utils/projects";
import Project from "./Project";
import * as Header from './Header.md'
---

<div class="p-8">
    <div class="text-2xl font-bold pb-4">
        <Header.Content />
    </div>

    <div class="flex items-center justify-center flex-col lg:flex-row gap-3">
        {favorites.map(project => <Project {...project} />)}
    </div>
</div>