---
import Layout from '../../../layouts/Layout.astro';
import FilmLayout from '../../../layouts/FilmLayout.astro';
import FilmHeaderLayout from '../../../layouts/FilmHeaderLayout.astro';
import Auth from '../../../components/Auth';
import FilmBodyLayout from '../../../layouts/FilmBodyLayout.astro';
import EditList from '../../../components/Film/EditList';
import { getCollection } from 'astro:content';
import type { PhotoCollectionEntry } from '../../../content.config';

const { folder } = Astro.params;

const photos = await getCollection(
	'photos',
	(photo) => (photo as PhotoCollectionEntry).data.asset_folder === folder
);
---

<Layout>
	<FilmHeaderLayout showHeader>
		<Auth client:load />
	</FilmHeaderLayout>
	<FilmLayout>
		<FilmBodyLayout>
			<h1
				slot='header-content'
				class='text-4xl font-serif mb-2 lowercase'>
				Edit collection
			</h1>
			<h2
				slot='header-content'
				class='text-2xl font-serif mb-2 lowercase'>
				{folder}
			</h2>
			<a
				slot='header-content'
				href={`/film/${folder}`}
				class='link link-primary'
				>back</a
			>
			<EditList
				client:load
				urls={photos.map((photo) => photo.data.secure_url)}
				folder={folder ?? ''}
				cdnUrl={import.meta.env.MY_AWS_CLOUDFRONT_DOMAIN}
			/>
		</FilmBodyLayout>
	</FilmLayout>
</Layout>
