---
interface Props {
	title: string;
	urls: string[];
}

const { title, urls } = Astro.props;
const firstFour = urls.slice(0, 4);
---

<a
	href={`/film/${title}`}
	data-astro-prefetch
	class='hover:opacity-50 hover:cursor-pointer flex flex-col gap-2'>
	<h3 class='text-sm text-muted-foreground text-center'>{title}</h3>
	<div class='gap-4 md:gap-4 grid grid-cols-2 grid-rows-2 max-w-screen-2xl'>
		{
			firstFour.map((url) => (
				<img
					src={url}
					alt={`photo from ${title}`}
				/>
			))
		}
	</div>
</a>
