---
import { actions } from 'astro:actions';
import FolderPreview from './FolderPreview.astro';
import EmptyAlert from './EmptyAlert.astro';
import ErrorAlert from './ErrorAlert.astro';

const { data: scans, error } = await actions.getScans();
---

<div
	class='gap-4 md:gap-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 max-w-screen-2xl'>
	{
		error ? (
			<ErrorAlert message={error.message} />
		) : scans.length === 0 ? (
			<EmptyAlert />
		) : (
			scans.map((scan) => (
				<FolderPreview
					title={scan.folder_name}
					keys={scan.image_keys}
				/>
			))
		)
	}
</div>
