---
interface Props {
    title: string;
    technologies: string[];
    points: string[];
}

const { title, technologies, points } = Astro.props;

---

<div class="my-4">
    <p class="font-bold">{title}</p>
    <p class="italic">{technologies.join(', ')}</p>
    <ul class="list-disc list-inside">
        {points.map(p => <li class="list-item">{p}</li>)}
    </ul>
</div>