---
import { Image } from 'astro:assets';
import * as Header from './Header.md';
import profile from '../../assets/profile.png'
---

<div class="p-8">
    <div class="text-2xl font-bold pb-4">
        <Header.Content />
    </div>

    <div>
        <div class="card lg:card-side bg-base-100 shadow-xl">
            <figure class="overflow-hidden">
                <Image class="object-cover object-center w-full h-full" src={profile} alt='Profile' />
            </figure>
            <div class="card-body">
                <p>I am always looking for ideas for my next project. I love music, so I tend to lean towards band-related apps.</p>
                <div>
                    <p>Here are some technologies I have been working with lately:</p>
                    <ul class="list-disc list-inside">
                        <li>TypeScript, JavaScript</li>
                        <li>React, Next.js</li>
                        <li>React Native, Expo</li>
                        <li>Express, Fastify</li>
                        <li>PostgreSQL</li>
                        <li>Python</li>
                        <li>Java</li>
                    </ul>
                </div>
                <p>Outside of programming, I am usually tinkering with <a class="link" href="https://reddit.com/r/customkeyboards" target="_blank">keyboards</a>. I also enjoy film photography, and plan to run a marathon... <a class="link" href="https://www.strava.com/athletes/60272710" target="blank">eventually</a>.
                </p>
            </div>
        </div>
    </div>
</div>