---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects/index.astro';
import About from '../components/About/index.astro';
---

<Layout>
	<main class="bg-base-200">
		<Hero />
		<About />
		<Projects />
	</main>
</Layout>
