---
import { actions } from 'astro:actions';
import CurrentlyPlayingError from './CurrentlyPlayingError.astro';
import { USERNAME } from '../../services/last-fm';

const { data, error } = await actions.getCurrentlyPlaying();
const derivedClass =
	data?.mostRecentTrack?.['@attr']?.nowplaying === 'true' ? 'fa-fade' : '';
---

{
	error ? (
		<CurrentlyPlayingError />
	) : (
		<div class='card bg-base-100 image-full'>
			<figure>
				<img
					src={data?.mostRecentTrack.image[2]['#text']}
					alt={data?.mostRecentTrack.album['#text']}
					class='w-full max-h-12'
				/>
			</figure>
			<div class='card-body flex items-center justify-center py-0'>
				<a
					href={`https://last.fm/user/${USERNAME}`}
					target='_blank'
					class='flex flex-col sm:flex-row gap-2 items-center justify-center text-center'>
					<i class={`fa-solid fa-record-vinyl ${derivedClass} fa-xl`} />
					<div class='hidden sm:flex flex-col'>
						<h2 class='card-title hidden sm:block text-start'>
							{data?.mostRecentTrack.name}
						</h2>
						<p class='hidden lg:block text-start'>
							{data?.mostRecentTrack.artist['#text']}
						</p>
					</div>
				</a>
			</div>
		</div>
	)
}
