---
import { author } from '../utils/constants';
---

<footer class='p-4 footer footer-center bg-base-300 text-base-content'>
	<aside class='grid w-full grid-cols-2'>
		<p class='text-xs justify-self-start'>
			Copyright © 2024 - All right reserved.
		</p>
		<p class='text-xs justify-self-end'>Built and designed by {author}.</p>
	</aside>
</footer>
