---
interface Props {
	showHeader?: boolean;
}

const { showHeader } = Astro.props;
---

{
	showHeader && (
		<div class='bg-zinc-100 text-zinc-800 w-full flex flex-col items-end p-2 pb-0'>
			<slot />
		</div>
	)
}
